@font-face {
  font-family: 'Plex';
  src: url('../fonts/IBMPlexSans.woff2') format('woff2'),
    url('../fonts/IBMPlexSans.woff') format('woff'),
    url('../fonts/IBMPlexSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Plex';
  src: url('../fonts/IBMPlexSansMedium.woff2') format('woff2'),
    url('../fonts/IBMPlexSansMedium.woff') format('woff'),
    url('../fonts/IBMPlexSansMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Plex';
  src: url('../fonts/IBMPlexSansBold.woff2') format('woff2'),
    url('../fonts/IBMPlexSansBold.woff') format('woff'),
    url('../fonts/IBMPlexSansBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Haas';
  src: url('../fonts/NeueHaasRoman.woff2') format('woff2'),
    url('../fonts/NeueHaasRoman.woff') format('woff'),
    url('../fonts/NeueHaasRoman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Haas';
  src: url('../fonts/NeueHaasMedium.woff2') format('woff2'),
    url('../fonts/NeueHaasMedium.woff') format('woff'),
    url('../fonts/NeueHaasMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
