$white: #fff;
$black: #000;
$text1: #212528;
$text2: #4a4a4a;
$text3: #777777;
$bg-light1: #f4f2ff;
$bg-light2: #fbfbfb;
$purple: #451dd6;
$pink2: #d453cc;
$teal: #0ceabf;
$red: #ef466f;
$blue: #0087cb;

$border1: #e5e5e5;
$bg-light: #f9f9f9;

$spinner1: #9757d7;
$spinner2: #9267f9;

$overlay: rgba(#2e3136, 0.7);

$font-title: 'Haas', Helvetica, sans-serif;
$font-text: 'Plex', Garamond, serif;

@define-mixin flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@define-mixin flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@define-mixin overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@define-mixin title $size {
  font-family: $font-title;
  font-weight: 700;
  font-size: $size;
}

@define-mixin medium $size {
  font-family: $font-title;
  font-weight: 500;
  font-size: $size;
}

@define-mixin regular $size {
  font-family: $font-title;
  font-weight: 400;
  font-size: $size;
}

@define-mixin text $size {
  font-family: $font-text;
  font-weight: 400;
  font-size: $size;
}

@define-mixin text-medium $size {
  font-family: $font-text;
  font-weight: 500;
  font-size: $size;
}

@define-mixin subtitle {
  @mixin text 16px;
  color: $text2;
  margin: 32px auto 0;
  text-align: center;
  max-width: 670px;
  line-height: 24px;
}

@define-mixin fancy-underline {
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    width: 0px;
    height: 3px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.5s;
    opacity: 0;
    background-color: $black;
  }
  &:before {
    left: 50%;
  }
  &:after {
    right: 50%;
  }
  &.selected {
    &:before,
    &:after {
      width: 50%;
      opacity: 1;
    }
  }
}
